################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codebug.Blob/.vs/Codebug.Blob
*.*/Debug
*obj
*bin
*.vs
*BlobStorageConstants.cs
